<!DOCTYPE html>
<html lang="en">
    <head>        
        <title>@ViewBag.Title - Điểm Tin Việt Nam</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="Điểm Tin Việt Nam, điểm tin, tin nóng, ranking, xếp hạng, đánh giá, thế giới, xã hội, kinh tế, kinh doanh, thể thao, văn hóa, giải trí, pháp luật, khoa học, công nghệ..." >
        <meta name="keywords" content="điểm tin, tin nóng, ranking, xếp hạng, đánh giá, thế giới, xã hội, kinh tế, kinh doanh, thể thao, văn hóa, giải trí, pháp luật, khoa học, công nghệ, vnexpress, zing, vietnamnet, dantri, dan tri, thanhnien, thanh nien, laodong, lao dong, báo điện tử, Việt Nam, Hồ Chí Minh, Hà Nội, Sài Gòn, Đà Nẵng, Hạ Long...." > 
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://diemtinvietnam.vn" />        
        <meta property="og:title" content="@ViewBag.Title" />
        <meta property="og:description" content="Cập nhật, đánh giá, xếp hạng tin tức mới, tin nóng về thế giới, xã hội, kinh tế, kinh doanh, thể thao, văn hóa, giải trí, pháp luật, khoa học, công nghệ và nhiều lĩnh vực khác…" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />        
        <link href="/Content/diemtin.css" type="text/css" rel="stylesheet" /> 
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,800&subset=latin,vietnamese' rel='stylesheet' type='text/css'>       
        <meta name="viewport" content="width=device-width"/>        
        @Scripts.Render("~/bundles/modernizr")
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-46524686-2']);
            _gaq.push(['_trackPageview']);
            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>        
        <header>        
                <div class="bgheader">
                    <div class="logo"><a href="/Home/Index"><img src="/Images/logo.png"></a></div>                    
                    <div class="login">
                        @if (Session["userinfo"] == null){  
                                <div class="loginLabel">        
                                    <a href="#" onclick='$("#dvLoginForm").show();' class="dn">Đăng nhập</a>
                                </div>
                        }
                        <div class="datetimevn">
                             <div id="showTime"></div>
                             @if (Session["userinfo"] != null)
                             {
                                @Html.Partial("_LoginPartial")
                             }
                        </div>
                    </div>                  
                    <div class="searchForm">
                        <input type="text" class="txtSearch" id="searchKeyWord" name="searchKeyWord">
                        <input type="button"  class="btnSearch" value="Tìm Kiếm" onclick="SearchNews();"/>
                    </div>
                </div>
                <div class="bgheader2">
                    <a href="#" onclick="getDailyTopNews();" class="dttn">Điểm Tin Trong Ngày</a>
                    <a href="#" onclick="getNewsAllFromCatFile(1,'Xã Hội');" class="menuItem">| Xã Hội</a>
                    <a href="#" onclick="getNewsAllFromCatFile(2,'Thế Giới');" class="menuItem">| Thế Giới</a>
                    <a href="#" onclick="getNewsAllFromCatFile(3,'Kinh Tế');" class="menuItem">| Kinh Tế</a>
                    <a href="#" onclick="getNewsAllFromCatFile(4,'Văn Hóa');" class="menuItem">| Văn Hóa</a>
                    <a href="#" onclick="getNewsAllFromCatFile(13,'Giải Trí');" class="menuItem">| Giải Trí</a>
                    <a href="#" onclick="getNewsAllFromCatFile(5,'Thể Thao');" class="menuItem">| Thể Thao</a>
                    <a href="#" onclick="getNewsAllFromCatFile(6,'Pháp Luật');" class="menuItem">| Pháp Luật</a>
                    <a href="#" onclick="getNewsAllFromCatFile(7,'Khoa Học');" class="menuItem">| Khoa Học</a>
                    <a href="#" onclick="getNewsAllFromCatFile(8,'Công nghệ');" class="menuItem">| Công Nghệ</a>
                    <a href="#" onclick="getNewsAllFromCatFile(9,'Ô Tô - Xe Máy');" class="menuItem">| Ô tô - Xe Máy</a>
                    <a href="#" onclick="getNewsAllFromCatFile(10,'Giáo Dục');" class="menuItem">| Giáo Dục</a>
                    <a href="#" onclick="getNewsAllFromCatFile(12,'Sức Khỏe');" class="menuItem">| Sức Khỏe</a>
                </div>
                <div class="bgheader3">
                          <span class="l_M">&nbsp;</span>
                          <span class="m_M"><a href="#" onclick="getHotNewsFromFile();" class="menuItemHot">Tin Nóng</a></span>
                          <span class="r_M">&nbsp;</span>
                          <span class="l_M">&nbsp;</span>
                          <span class="m_M2"><a href="#" onclick="getTrends();" class="menuItemHot">Xu Hướng Đọc</a></span>
                          <span class="r_M">&nbsp;</span>
                          <span class="l_M">&nbsp;</span>
                          <span class="m_M2"><a href="#" onclick="getTopNewsWeekly();" class="menuItemHot">Tin Nóng Trong Tuần</a></span>
                          <span class="r_M">&nbsp;</span>
                          <span class="checkNew"><input type="checkbox" id="chkIsCheckNewestNew" onchange="changeDisplayNews();">Mới nhất</span>
                </div>
                
            
        </header>
        <div id="dvLoginForm" class="dvLoginForm" style="display:none;">
             @using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl}))
             {
                @Html.AntiForgeryToken()
                    <fieldset id="socialLoginList">
                               <button type="submit" class="btnLogin1" name="provider" value="twitter" title="Sử dụng Twitter account" style="cursor:pointer">&nbsp;</button>
                               <button type="submit" class="btnLogin2" name="provider" value="facebook" title="Sử dụng Facebook account" style="cursor:pointer">&nbsp;</button>
                               <button type="submit" class="btnLogin3" name="provider" value="google" title="Sử dụng Google account" style="cursor:pointer">&nbsp;</button>
                               
                    </fieldset>
             }
        </div>
        <div id="body">            
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>  
        <footer>
            <div class="bgfooter">                
                <B>Điểm Tin Việt Nam - Phiên bản thử nghiệm đang chờ giấy phép trang tin tổng hợp.</B>
                <br/>                
                <img src="/Images/l2.jpg">&nbsp;Liên tục cập nhật đánh giá và xếp hạng tin tức theo nội dung và tính thời sự
                <br/>                
                <img src="/Images/l2.jpg">&nbsp;Bình luận trực tuyến theo các chủ đề.
                <br/>                
                <B>Nhóm Thatvn Việt Nam</B>
            </div>
        </footer>     
        @RenderSection("scripts", required: false)        
    </body>
</html>
