<!DOCTYPE html>
<html lang="en">
    <head>
    <title>@Html.Raw(@Server.HtmlDecode(@ViewBag.title))</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="điểm tin, tin nóng, ranking, xếp hạng, đánh giá, thế giới, xã hội, kinh tế, kinh doanh, thể thao, văn hóa, giải trí, pháp luật, khoa học, công nghệ, vnexpress, zing, vietnamnet, dantri, dan tri, thanhnien, thanh nien, laodong, lao dong, báo điện tử, Việt Nam, Hồ Chí Minh, Hà Nội, Sài Gòn, Đà Nẵng, Hạ Long...." >    
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@ViewBag.url" />        
    <meta property="og:title" content="@Html.Raw(@Server.HtmlDecode(@ViewBag.title))" />
    <meta property="og:description" content="@Html.Raw(@Server.HtmlDecode(@ViewBag.des))" />
    <meta property="og:image" itemprop="thumbnailUrl" content="@ViewBag.image" />
    <link href="/Content/new/css/reset.css" rel="stylesheet">
    <link href="/Content/new/css/bootstrap.css" rel="stylesheet">
    <link href="/Content/new/css/style.css" rel="stylesheet">
    <link href="/Content/new/css/customscreen.css" rel="stylesheet">
    <link href="/Content/new/css/css.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,500&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
       <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-46524686-2']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        </script> 
</head>
<body>
    <div id="header">
        <div class="container">
            <a href="/Home/DiemTin"><h1 class="logo">diemtinvietnam.vn</h1></a>
        </div>
    </div>
    <div class="navbar navbar-inverse navbar-static-top" id="tin1vn-top-menu" role="navigation">
        <div class="container">
            <div class="top-menu-btn">
                <button type="button" class="button-top-menu">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
            </div>
            <div class="mobile-top-logo">
                <img src="/Images/logonew.png" alt="logo diemtinvietnam.vn" class="top-logo">
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/Home/DiemTin">Điểm Tin Trong Ngày</a>
                    </li>
                    <li>
                        <a href="/Home/TinNong">Tin Nóng</a>
                    </li>
                    <li>
                        <a href="/Home/MoiNhat">Mới Nhất</a>
                    </li>
                    <li>
                        <a href="/Home/ChuyenMuc/1">Xã Hội</a>
                    </li>
                    <li>
                        <a href="/Home/ChuyenMuc/2">Thế Giới</a>
                    </li>
                    <li>
                        <a href="/Home/ChuyenMuc/3">Kinh tế</a>
                    </li>
                    <li>
                        <a href="/Home/ChuyenMuc/4">Văn Hóa</a>
                    </li>
                    <li>
                        <a href="/Home/ChuyenMuc/13">Giải trí</a>
                    </li>
                    <li>
                        <a href="/Home/ChuyenMuc/5">Thể Thao</a>
                    </li>
                    <li>
                        <a href="/Home/ChuyenMuc/6">Pháp Luật</a>
                    </li>
                    <li>
                        <a href="/Home/ChuyenMuc/7">Khoa Học</a>
                    </li>
                    <li>
                        <a href="/Home/ChuyenMuc/8">Công Nghệ</a>
                    </li>
                    <li>
                        <a href="/Home/ChuyenMuc/9">Ô tô Xe máy</a>
                    </li>
                    <li>
                        <a href="/Home/ChuyenMuc/10">Giáo Dục</a>
                    </li>
                    <li>
                        <a href="/Home/ChuyenMuc/12">Sức Khỏe</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    <div class="container" id="top-header">
    <B>Điểm Tin Việt Nam - Phiên bản thử nghiệm đang chờ giấy phép trang tin tổng hợp.</B>
                <br/>                
                <img src="/Images/l2.jpg">&nbsp;Chương trình máy tính tự động xếp hạng tin tức theo nội dung và tính thời sự                
                <br />
                <img src="/Images/l2.jpg">&nbsp;Hiển thị tốt nhất với trình duyệt <a href="https://www.google.com/intl/en/chrome/browser/">Chrome</a> và <a href="https://www.mozilla.org/vi/firefox/new/">Firefox</a>              
                <br />
                <a href="https://play.google.com/store/apps/details?id=com.thatvn.diemtinvietnam" class="ui-link">
				<img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png">
			    </a>                
                <br/>                
                <B>Nhóm <a href="http://www.that.vn" target="_blank" style="text-decoration:none;">That.Vn</a> - Email: Diemtinvietnam@gmail.com</B>
    </div>
</body>
</html>
