@model youknow.Views.ModelClassViewComment
@{
    String localDate;
    //ViewBag.id = Model.id;
    //ViewBag.title = Server.HtmlDecode(Model.name);
    
    ViewBag.title = System.Web.HttpUtility.HtmlDecode(ViewBag.title.Replace("amp;", ""));
    ViewBag.urltitle = System.Web.HttpUtility.HtmlDecode(ViewBag.urltitle.Replace("amp;", ""));
    ViewBag.des = System.Web.HttpUtility.HtmlDecode(ViewBag.des.Replace("amp;", ""));
    //ViewBag.titlenomark = youknow.Uti.unicodeToNoMark(ViewBag.title);
    ViewBag.titlenomark = youknow.Uti.unicodeToNoMark(System.Web.HttpUtility.HtmlDecode(ViewBag.urltitle)).ToString().Replace("--", "-");
    //ViewBag.image = Model.image;
    //ViewBag.link = Model.link;
    ViewBag.url = youknow.Config.domain + "/" + ViewBag.titlenomark+"-"+ViewBag.idNews;
    ViewBag.catname = youknow.Uti.getCatNameFromId(ViewBag.catid);
    ViewBag.catnamenomark = youknow.Uti.unicodeToNoMark(ViewBag.catname);
    //ViewBag.datetime = Model.datetime;
    if (!ViewBag.datetimenews.ToString().Contains("1/1/1900"))
    {
        localDate = DateTime.Parse(ViewBag.datetimenews.ToString()).ToString("dd/MM/yyyy hh:mm tt");
    }
    else
    {
        localDate = DateTime.Now.ToString("dd/MM/yyyy hh:mm");
    }
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<div id="content">
        
        <div class="container">
            
            <div class="col-md-12 padding-l-0" id="left-col">
                <div class="article-info">
                    <div class="breadcrumb" itemtype="http://schema.org/ImageObject">
                        <a class="breadcrumbitem1" href="#">@youknow.Uti.getCatNameFromId(@ViewBag.catid)</a>
                        <img src="/Content/new/images/navRow.png">
                    </div>

                    <span class="publishdate">
                        <meta content="@localDate" itemprop="datePublished">@localDate
                    </span>
                </div>

                <h1 class="title-article">@Html.Raw(ViewBag.title)</h1>

                <div class="social-box">                     
                    <div class="score-system">
                        <span class="score">
                            @ViewBag.uplikes <i class="fa fa-thumbs-up fa-2"></i>
                        </span>
                    </div>
                </div>
                <div class="content-article">
                    @Html.Raw(@Server.HtmlDecode(@ViewBag.fullContent))
                    <br/>
                    Nguồn:<a href="@ViewBag.link" target="_blank" class="description-article">@ViewBag.maindomain</a>
                    
                </div>

               @* @if (!ViewBag.topicid.Equals(-1))
                {
                    <div class="list-related-post2" id="relatedNewsAll">                
                    <h3 class="related-title2">Tin liên quan</h3>
                        <ul class="list-related-post2" id="relatedNews">
                        
                        </ul>
                    </div>
                    
                }*@
                    


                
                <div class="clear-fix"></div>
            </div>

            <div class="col-md-12 padding-0" id="mid-col">
                <div class="related-post" >
                    <h3 class="related-post-title">Bình luận</h3>
                    <ul class="list-related-post" id="relatedCatNews">
                        
                    </ul>
                    <ul class="list-related-post">
                        Tên bạn<input type="text" id="user_name" style="width:100%">
                        Nội dung bình luận<textarea id="user_comment" style="width:100%" rows="10"></textarea>
                        <input type="button" style="width:100%" value="Gửi bình luận" onclick="send();">
                    </ul>
                    <ul class="list-related-post" style="height:100px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ul>
                    <div class="clear-fix"></div>
                </div>
                <div class="clear-fix"></div>
            </div>


        </div>

    </div>
    <script>
        optimizeImageMobile();
        @*@if (!ViewBag.topicid.Equals(-1))
        {
            <text>getRelatedMobile(@ViewBag.topicid);</text>
        }
        getRelatedCatMobile(@ViewBag.catid);*@

        voteNewsRead(@ViewBag.idNews,1);
        //$('img').each(function(){
        //    $(this).click(function(){
        //        //alert("abc");
        //        if ($(this).css('max-width')=="95%"){
        //            $("table").css("maxWidth",$(this).width()*2+"px");
        //            $(this).css("maxWidth", $(this).width()*2+"px");
        //            $(this).css("width", $(this).width()*2+"px");
                    
        //        }else{
        //            $(this).css("width", $(this).width()/2+"px");
        //            $(this).css("maxWidth", "95%");
        //            $("table").css("maxWidth","95%");
        //        }
        //    });
        //});
        //Lấy ra tin đọc nhiều nhất
        function send() {
            var formdata = new FormData(); //FormData object
            var contents=document.getElementById("user_comment").value;
            var fullName=document.getElementById("user_name").value;
            var idnews=@ViewBag.idNews;
            if (contents.trim()==""){
                alert("Bạn chưa nhập nội dung!");
                document.getElementById("user_comment").focus();
                return;
            }
            if (fullName.trim()==""){
                alert("Bạn chưa nhập tên!");
                document.getElementById("user_name").focus();
                return;
            }
            formdata.append("contents", contents);
            formdata.append("fullName", fullName);
            formdata.append("idnews", idnews);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/comment/addNew');
            xhr.send(formdata);
            
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    if (xhr.responseText=="1"){
                        alert("Gửi bình luận thành công!\r\nCảm ơn bạn đã đóng góp ý kiến!");
                        window.location.reload();
                    }
                }//return ajax statuc
            }//onreadystatechange
        }//function
        function getAllComment() {    
            //Creating an XMLHttpRequest and sending
            //$("#dvTopNewsWeekly").show();
            var formdata = new FormData(); //FormData object
            formdata.append("idnews", @ViewBag.idNews);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/comment/getAllComment');
            xhr.send(formdata);
            var content = "";
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var news = '{"news":' + xhr.responseText + '}';
                    
                    var json_parsed = $.parseJSON(news);
                    
                    for (var i = 0; i < json_parsed.news.length; i++) {
                        if (json_parsed.news[i]) {
                            content+="<div style='width:100%;background:#f8f8f8;margin-top:5px;position:relative;float:left;'>";
                            content+="<div style='width:100%;background:#f8f8f8;position:relative;float:left;'><span style='float:left;'><b>"+json_parsed.news[i].fullName+"</b> gửi lúc "+json_parsed.news[i].datetime+"</span><span style='float:right;cursor:pointer;' onclick='updatelikes("+json_parsed.news[i].id+","+json_parsed.news[i].likes+");'>Thích&nbsp;<img src='/Images/care.png'>&nbsp;<span id=likes"+json_parsed.news[i].id+">"+json_parsed.news[i].likes+"</span></span></div>";
                            content+="<div style='width:100%;background:#f8f8f8;position:relative;float:left;'>"+json_parsed.news[i].contents+"</div>";
                            content+="</div>";
                        }
                    }
                    
                    if (json_parsed.news.length>0) 
                    {
                        $("#relatedCatNews").html(content);
                    }else{
                        
                    }
                }
            }
        }
        getAllComment();
        function updatelikes(id,value){
            var formdata = new FormData(); //FormData object
            formdata.append("id", id);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/comment/updatelikes');
            xhr.send(formdata);
            var content = "";
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    if (xhr.responseText=="1"){
                        value++;
                        document.getElementById("likes"+id).innerHTML=value;       
                        //alert(value);
                    }else{
                        //alert(value);
                    }
                }
            }
        }
    </script>