@model youknow.Models.title

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>title</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.des)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.des)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.link)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.link)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.image)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.image)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.catid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.catid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.datetime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.datetime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tokenid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tokenid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.domain)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.domain)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.source)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.source)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ranking)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ranking)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.keyword)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.keyword)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.datetimeid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.datetimeid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.maindomain)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.maindomain)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
