@{
    //ViewBag.Title = "Tin nóng trong ngày";
    ViewBag.Url = "Home/mSearchNews";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
    int? uplikes = 0;
    int? downlikes = 0;
    string upimage = "up1.png";
    string downimage = "down1.png";
    string diemclass = "Diem";
    int currentNo = 0;
    string styleComment = "";
    string title = "";
    string titleNoMark = "";
    string des = "";
    string keyword = System.Web.HttpUtility.HtmlDecode(ViewBag.Title);
    int catid = 0;
    string strCare = "Quan tâm";
}

<script src="~/Scripts/jquery.cookie.js"></script> 
<script  src="/Scripts/core.js" type="text/javascript"></script> 
<script src="/Scripts/OpenLayers.js" type="text/javascript"></script> 

            
<!--Start Main-->
	<div data-role="main" class="ui-content">
		<!--start tip-->
		<div class="tip-text">
			<ul>
				<li class="not-active"><a href="#">Điểm tin Việt Nam</a> > </li>
				<li class="active"><span>Tìm kiếm: @ViewBag.title</span></li>
			</ul>
		</div>
		<!--end tip-->
		<!--start list-->
		<div class="list-item">    
    @foreach (youknow.Views.viewNewsSearchManager item in Model.ieViewNews)
    {
         styleComment = "";
         uplikes = 0;
         downlikes = 0;
         upimage = "up1.png";
         downimage = "down1.png";
         diemclass = "Diem";
         title = System.Web.HttpUtility.HtmlDecode(item.title);
         titleNoMark=youknow.Uti.unicodeToNoMark(title);
         //styleComment = "<a  onclick=\"showDivComment("+@item.id+",'"+@item.title+"');\" style=\"cursor:pointer\">Trò chuyện</a>";
         currentNo = currentNo + 1;
                if (currentNo > 3) {
                    upimage = "up2.png";
                    downimage = "down2.png";
                    diemclass = "Diemp2";
                }
        if (item.totalcomment != null && item.totalcomment != 0) { styleComment = "(" + item.totalcomment + " bình luận)"; }
        catid = 0;
        if (item.catid != null && item.catid != 0) { catid = (int)item.catid; }
        if (item.uplikes != 0) {uplikes = item.uplikes;}
        if (item.downlikes != 0) {downlikes = item.downlikes;}
        strCare = "Quan tâm";
        if (uplikes != 0) { strCare = "+" + uplikes; }
         <text> 
                <!--start item-->
			<div class="item" id=item_@item.id>
				<div class="avatar">
                    @if (youknow.Uti.isImage(item.image))
                    {
					    <img src="@item.image" style="width: 70px; height: 80px; border-radius: 5px;" />
                    }else{
                        <img src="@youknow.Uti.getDomainImage(@item.maindomain)" style="width: 70px; height: 80px; border-radius: 5px;" />
                    }
					<div class="icontool">
						<div class="deltail" style="text-align:center"><h1>@currentNo</h1></div>						
					</div>
				</div>
				<div class="list-deltail" >
					<div class="list-fav">
						<a onclick="hideNewsList(@item.id);"><img class="removeItem" src="/Images/remove.png"  style="width:15px;float:right;cursor: pointer;" /></a>
					</div>
					<div class="deltail" style="padding-left:25px;">						
                        @if (item.hasContent == 1)
                        {
						    <a class="listing-title" data-ajax="false" target="_blank" href="/comment/mReadNews/@item.id">@Html.Raw(@title)</a>
                        }
                        else
                        {
                            <a class="listing-title" href="@item.link" target="_blank">@Html.Raw(@title)</a>
                        }
                        <h2>@youknow.Uti.smDomain(@item.maindomain) | @youknow.Uti.getCatNameFromId(catid)</h2>
					</div>
					<div class="listing-info">
						<span class="price" style="padding-left:15px;">@item.ranking điểm</span>
						<span>@youknow.Uti.getTimeDiff(@item.timediff)</span><br>										
					</div>                   				
				</div>
				<div class="clear"></div>
			</div>
			<!--end item-->                
        </text>
    }
</div>
<script>
    isLogged = '@ViewBag.userToken';
    currentUserToken = '@ViewBag.userToken';
    currentUserName = '@Html.Raw(@ViewBag.userName)';

    var percentLoading = 1;
    var stepLoading = 7;
    var myVar = null;
    currentMenu = 5;
    function hideNewsList(id) {
        itemPost = $("#item_" + id);
        //document.getElementById("item_" + id);//.style.display = "none";
        itemPost.animate({ height: '0px' }, 400, 'linear', function () { itemPost.remove(); });
        itemPost.fadeOut();
        //for (var i = 1; i <= 30; i++) {
        //    if (document.getElementById("item_" + id + "_" + i)) {
        //        itemPost = $("#item_" + id + "_" + i);
        //        itemPost.animate({ height: '0px' }, 400, 'linear', function () { itemPost.remove(); });
        //        itemPost.fadeOut();
        //    }
        //}
        // itemPost.style.display = "none";
    }
    //Hiển thị nextpage nếu thanh cuộn hết trang
    $(window).scroll(function () {
        if ($(window).scrollTop() + $(window).height() >= $(document).height() - 10) {
            showNextPage();
        }
    });
    
    
</script>
