@model youknow.Views.ModelClassViewNewsManager
@{
    ViewBag.Title = "Tin nóng trong tuần";
    ViewBag.Url = "Home/TinNongTuan";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? uplikes = 0;
    int? downlikes = 0;
    string upimage = "up1.png";
    string downimage = "down1.png";
    string diemclass = "Diem";
    int currentNo = 0;
    int noNewsItem = -1;
    string styleComment = "";
    string title = "";
    string titleNoMark = "";
    string strCare = "Quan tâm";
    int catid = 0;
    int i = 0;
    int preID = -1;// Model.ieViewNews.ElementAt(0).id;
    int lastID = preID;
    string preRelatedNews = "";
    int preCountItemRelated = 0;
    var styleItem = "display:block;";
    string filterDomain = "";
    string filterCat = "";
    string preDomain = "," + Model.ieViewNews.ElementAt(0).maindomain + ",";
    
    if (ViewBag.filterCat != null)
    {
        filterCat = ViewBag.filterCat;
    }
    if (ViewBag.filterDomain != null)
    {
        filterDomain = ViewBag.filterDomain;
    }
    //youknow.Views.viewNewsManager[] Aitem = (youknow.Views.viewNewsManager[])Model.ieViewNews;
    preRelatedNews = "<span class=\"sameTopicTitleFont\">Tin liên quan</span>";
}

<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/jquery.signalR-1.1.3.min.js"></script>   
<script src="~/Scripts/jquery.cookie.js"></script> 
<script src="~/signalR/hubs"></script>
<script  src="/Scripts/core.js" type="text/javascript"></script> 
<script src="/Scripts/OpenLayers.js" type="text/javascript"></script>
<div class="backTopPage" id="backTopPage" style="display:none"><a href="#"><img src="/Images/toppage.png" title="Về đầu trang" height="48px" width="48px"></a></div>
            	         
            <div class="shareNews" id="shareNews">
            
            </div>
            <div class="dvCommentHomePage" id="dvCommentHomePage"></div>
            @Html.Partial("~/Views/Home/_formComment.cshtml")
            <script>getFreshNews();</script>
<div id="wrapper" class="wrapper">    
    @foreach (youknow.Views.viewNewsManager item in Model.ieViewNews)
    //@for (i=0;i<Model.ieViewNews.Count();i++)
    {
        //var item = Aitem[i];//Model.ieViewNews[i];
        //if (item == null || currentNo > 100) { break; }
        
        lastID = item.id;

        //Nếu là các tin liên quan thì đọc và tiếp tục đọc các dòng sau.
        if (preID == item.id)//Đây là tin liên quan, cộng vào chuỗi và bỏ qua
        {
            //item.topicidRelated != item.idRelated && 
            if (item.nameRelated != null && item.nameRelated.Trim() != "")// && preDomain.IndexOf("," + item.maindomainRelated + ",") < 0
            {
                preCountItemRelated++;
                if (preCountItemRelated >= 3)
                {
                    styleItem = "display:none;";
                }
                noNewsItem++;
                preRelatedNews = "<div class=\"sametopic2\" id=itemRelatedNews_" + preID + "_" + preCountItemRelated + " style=\"" + styleItem + "\"><a onclick=\"return showDetailNews('" + item.linkRelated + "','" + youknow.Uti.unicodeToNoMark(System.Web.HttpUtility.HtmlDecode(item.nameRelated)) + "'," + item.idRelated + "," + item.hasContentRelated + "," + noNewsItem + ");\" style=\"cursor:pointer;text-decoration:none;\" href=\"/comment/readNews/" + item.idRelated + "\"><span class=\"sameTopicTitleFont2\"><img src=\"/Images/l2.jpg\"/>&nbsp;" + youknow.Uti.removeQuotes(Server.HtmlDecode(item.nameRelated)) + "</span><span class=\"sameTopicTitleFont3\">&nbsp;<img src=\"/Images/sp2.jpg\"/>&nbsp;" + item.maindomainRelated.Replace("http://", "") + "</span></a></div>";
                //preRelatedNews = Server.HtmlEncode(preRelatedNews);
                <text><div style="position:relative;padding-left:233px;">@Html.Raw(@preRelatedNews)</div></text>
                preDomain += "," + item.maindomainRelated + ",";    
                <text><script>arrNewsItem.push(["@item.linkRelated", "@youknow.Uti.unicodeToNoMark(System.Web.HttpUtility.HtmlDecode(item.nameRelated))",@item.idRelated,@item.hasContentRelated,@noNewsItem]);</script></text>                
               
            }
            continue;
            
        }
        //Nếu chuyển sang tin khác thì ghi ra tin liên quan.
        if (preID != item.id)
        {
            if (preRelatedNews != "<span class=\"sameTopicTitleFont\">Tin liên quan</span>")
            {
                <text><div style="position:relative;padding-left:233px;">@Html.Raw(@preRelatedNews)</div></text>
            }
            preRelatedNews="";
            if (preCountItemRelated > 3)
            {
                preRelatedNews = "<div id=viewMoreTopicId_" + preID + " class=\"sametopic2\"><span class=\"sameTopicTitleFont\"><a onclick=\"viewMoreTopicId(" + preID + "," + preCountItemRelated + ");\" style=\"cursor:pointer;color:#d51d01\">Xem tiếp&nbsp<img src=\"/Images/down2.png\"></a></span></div>";
            }
            if (preRelatedNews != "")
            {
                <text><div style="position:relative;padding-left:633px;">@Html.Raw(@preRelatedNews)</div></text>
            }
            styleItem = "display:block;";
            //preRelatedNews = "";
            preRelatedNews = "<span class=\"sameTopicTitleFont\">Tin liên quan</span>";
            preCountItemRelated = 0;
            preID = item.id;
            noNewsItem++;
            preDomain = "," + item.maindomain + ",";
        }
        styleComment = "";
        uplikes = 0;
        downlikes = 0;
        upimage = "up1.png";
        downimage = "down1.png";
        diemclass = "Diem";
        title = System.Web.HttpUtility.HtmlDecode(item.title);
        titleNoMark = youknow.Uti.unicodeToNoMark(title);
        //styleComment = "<a  onclick=\"showDivComment("+@item.id+",'"+@item.title+"');\" style=\"cursor:pointer\">Trò chuyện</a>";
        currentNo = currentNo + 1;
        if (currentNo > 3)
        {
            upimage = "up2.png";
            downimage = "down2.png";
            diemclass = "Diemp2";
        }
        if (item.totalcomment != null && item.totalcomment != 0) { styleComment = "(" + item.totalcomment + " bình luận)"; }
        catid = 0;
        if (item.catid != null && item.catid != 0) { catid = (int)item.catid; }
        if (item.uplikes != 0) { uplikes = item.uplikes; }
        if (item.downlikes != 0) { downlikes = item.downlikes; }
        strCare = "Quan tâm";
        if (uplikes != 0) { strCare = "+" + uplikes; }
         <text> 
                <div class="bgheader4">
                    <div class="@diemclass">
                       <div class="Diem1">
                         <div class="Diem11"><span class="DiemFont">@currentNo</span></div>
                         <div class="Diem12"><span class="DiemFont2" id=ranking_@item.id>@item.ranking điểm</span></div>
                       </div>
                       <div class="Diem2">
                           <div class="Diem21">                
                                <img src="/Images/care.png" title="Quan tâm" onclick='voteNews(@item.id,1,@item.ranking,@uplikes,@downlikes);' style="cursor:pointer"><span class="DiemFontDetail" id="uplikes_@item.id">@strCare</span>
                           </div>
                      </div>
                    </div>
                    <div class="Anh">
                        @if (youknow.Uti.isImage(item.image))
                        {
                            <img src="@item.image" width="130" height="100" id="img_@item.id" />
                        }
                        else
                        {
                            <img src="/Images/logo.png" width="130" height="100" id="img_@item.id"/>
                        }
                    </div>
                    <div class="Tin">
                        <div class="title"><a onclick="return showDetailNews('@item.link','@titleNoMark',@item.id,@item.hasContent,@noNewsItem);" class="titleFont" style="cursor:pointer;" href="/comment/readNews/@item.id/@titleNoMark"><span class="titleFont">@Html.Raw(@title)</span></a></div>               
                        <div class="inforTin"><span class="inforTinFont1">@youknow.Uti.getDiffTimeFromNow(@item.date.ToString()) </span>&nbsp;<img src="/images/sp.jpg">&nbsp;<span class="inforTinFontCatid">@youknow.Uti.getCatNameFromId(catid)</span>&nbsp;<img src="/images/sp.jpg">&nbsp;<span class="inforTinFont2">@item.maindomain.Replace("http://", "").Replace("www.", "")</span></div> 
                        <div class="sharechat"><span class="shareFont">&nbsp;<img src="/Images/l.jpg"/>&nbsp;<a  href="/comment/readNews/@item.id/@titleNoMark" class="shareFont" style="cursor:pointer;text-decoration:none;">Trò chuyện @styleComment</a></span><a onclick="share('@item.link');" style="cursor:pointer"><span class="shareFont">&nbsp;<img src="/Images/l.jpg"/>&nbsp;Chia sẻ</span></a></div>
                        @if (@item.topicid == @item.id)
                        {
                            <div class="sametopic">
                            <div id=topicid_@item.topicid></div>
                                
                            </div>
                        }
                    </div>
                </div>
                <div class="spaceNews">&nbsp;</div>
                <script>arrNewsItem.push(["@item.link", "@titleNoMark",@item.id,@item.hasContent,@noNewsItem]);</script>
        </text>
    }
    @if (preCountItemRelated > 3)
            {
                preRelatedNews = "<div id=viewMoreTopicId_" + preID + " class=\"sametopic2\"><span class=\"sameTopicTitleFont\"><a onclick=\"viewMoreTopicId(" + preID + "," + preCountItemRelated + ");\" style=\"cursor:pointer;color:#d51d01\">Xem tiếp&nbsp<img src=\"/Images/down2.png\"></a></span></div>";
                <text><div style="position:relative;padding-left:633px;">@Html.Raw(@preRelatedNews)</div></text>
            }
    <script>totalNewsItem=@noNewsItem;</script>
</div>
<script>
    isLogged='@ViewBag.userToken';
    currentUserToken='@ViewBag.userToken';
    currentUserName='@Html.Raw(@ViewBag.userName)';
    //alert(currentUserName);
    var percentLoading = 1;
    var stepLoading = 7;
    var myVar = null;
    //isCheckNewestNew = 1;
    currentMenu = 2;
    function loadingDetailNews() {
        $("#dvloadingDetail").css({ "width": percentLoading });
        percentLoading += stepLoading;
        if (percentLoading > 1366) {
            clearInterval(myVar);
            document.getElementById("dvloading").style.display = "none";
            percentLoading = 1;
            stepLoading = 7;
        }
    }
    
    //Hiển thị nextpage nếu thanh cuộn hết trang
    $(window).scroll(function () {
        if ($(window).scrollTop() + $(window).height() >= 400) {
            $("#backTopPage").show();
            //showNextPage();
        }
    });
    //Danh cho remove tin để các tin khác cuộn lên.
    var itemPost = $("a.titleFont").parent(".title");
    //itemPost.append('<img class="removeItem" src="/Images/remove.png"  style="width:15px;float:right;cursor: pointer;" />');
    //cssRemoveTin();
               
        $(function () {
            chat.client.addChatMessage = function (roomName, username,usertoken,contents,title,id,idReply,userTokenReply,userNameReply) {
                if (contents != "") {
                    var strUserTokenReply="";
                   
                    //$('#dvComment').append('<div class=\"alert alert-info\"><span class=\"label label-success\">'+username+'</span>: ' + contents + '<span id="totalLike_' + id + '" class="label label-info pull-right"></span><a onclick="likeComment(' + id + ');"><span class="badge pull-right">Thích</span></a></div>');
                    if (userTokenReply != null && userTokenReply!="") {
                        strUserTokenReply = "<span class=\"userchat2HP\"> gửi " + userNameReply + ", </span> ";
                    }
                    
                    content = "<div class=bgheader4><div class=chatLine1HP><span class=userchat2HP>" + username + "</span></div><div class=chatLine2HP><span class=chatcontentHP>" + strUserTokenReply + contents + " </span></div><div class=chatLine3HP><a onclick=\"replyCommentHP(" + id + ",'" + usertoken + "','" + username + "');\" style=\"cursor:pointer\"><span class=userchat3HP>Trả lời</span></a>&nbsp;<a onclick=\"likeCommentHP(" + id + ");\" style=\"cursor:pointer\"><span class=userchat3HP>Thích&nbsp;<span id=\"totalLike_" + id + "\" class=chatcontent2HP></span></span></a></div></div>";
                    //"<div class=\"alert alert-info\"><span class=\"label label-success\">" + username + "</span> " + strUserTokenReply +contents + " <a onclick=\"replyComment(" + id + ",'" + username + "','" + usertoken + "');\"><span class=\"badge pull-right\">Trả lời</span></a><a onclick=\"likeComment(" + id + ");\"><span class=\"badge pull-right\">Thích<span id=\"totalLike_" + id + "\" class=\"label label-info pull-right\"></span></span></a></div>"; 
                    //alert(content);
                    $('#dvComment').append(content);
                    
                    if (document.getElementById("checkScrollbar").checked){
                        var elem = document.getElementById('dvComment');// just to scroll down the line 
                        elem.scrollTop = elem.scrollHeight;
                    }
                    
                    //chat.server.broadCast("broadCast","1", username,usertoken,contents,title,id,@ViewBag.idNews);
                   
                   
                }
            };
            chat.client.noticeNews = function (roomName) {
                if (roomName != "") {
                    if (document.getElementById("dvNewestNewsHomePageContent")) {
                        $('#dvNewestNewsHomePageContentAll').fadeOut();
                        getFreshNews();
                    }
                }
            };
            
            $.connection.hub.start().done(function () {
               //chat.server.joinRoom("@ViewBag.idNews", '','','','','','','',''); 
            });
        });

        //$(document).ready(function () {
        //    getWeather("VMXX0006");
        //    setInterval(function () { getWeather("VMXX0006"); }, 15 * 60000);
        //});
    </script>   